{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel", // Enable react hot loader
    "syntax-dynamic-import",
    [
      "import", [{
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false,
      }],
    ],
  ]
}
