{
  "presets": [
    [
      "env", {
        "modules": "umd", // Convert to ES2015 modules
      },
    ],
    "react",
    "stage-0",
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel", // Enable react hot loader
        "syntax-dynamic-import",
      ],
    },
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-es2015-modules-commonjs", // Convert ES2015 modules to CommonJs because Node6 does not support ES2015 features
        "syntax-dynamic-import",
      ],
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-es2015-modules-commonjs", // Convert ES2015 modules to CommonJs because Node6 does not support ES2015 features
        "syntax-dynamic-import",
      ],
    },
  },
}
